#legal-popup-container {
    display: none; 
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: calc(var(--vh, 1vh) * 60);
    width: 90%;
    max-width: 600px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    z-index: 1000; 
    animation: fadeIn 0.5s ease-in-out;
    overflow-y: scroll;
}
    #legal-popup-container::-webkit-scrollbar {
      width: 0; 
    }
    #legal-popup-container::-webkit-scrollbar-thumb {
      background: transparent;
    }
    #legal-popup-container::-webkit-scrollbar-track {
      background: transparent;
    }
        #legal-popup-container span {
            text-align: end;
        }
        #legal-popup-container p {
            font-size: large;
            
            text-align: start;
            margin-top: 20px;
            margin-bottom: 6px;
        }
#popup-overlay {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 999;
}
#legal-popup-close {
    position: absolute;
    top: 0;
    right: 5px;
    font-size: 24px;
    color: #666;
    cursor: pointer;
}
    @keyframes fadeIn {
        from { opacity: 0; }
        to { opacity: 1; }
    }
        @media (max-height: 740px) {
            #legal-popup-container {
                height: calc(var(--vh, 1vh) * 60);
                overflow-y: scroll; 
            }
            #legal-popup-container p {
                font-size: medium; 
                margin-left: 1em;
                margin-right: 1em;
            }
            #legal-popup-container h3 {
                margin-left: 0.8em;
            }
            #legal-popup-container h2 {
                margin-left: 0.6em;
            }
            #legal-popup-container h1 {
                margin-left: 0.4em;
            }
        }